.DS_Store
vim/bundle/*
vim/viminfo*
vim/viminf*.tmp
eclim*
.netrwhist
.venv_bootstrap/*
vim/autoload/plug.vim.old
vim/session
vim/undo
vim/backup

bin/ccollab
bin/ccollabexternaldiff
bin/chatter.py
bin/eclipse
bin/eclipse.sh
bin/p4collab
bin/perforcetrigger
bin/smartbear-diff-shim
bin/sqldeveloper.sh
bin/subversiontrigger

os/darwin/bin/domino
config/wireshark
config/nvim/shada
config/configstore/
config/inkscape/

# ubuntu stuff
config/gtk*
config/htop/
config/dconf
config/enchant
config/evolution
config/ibus
config/monitors.xml
config/nautilus
config/pulse
config/user-dirs.dirs
config/user-dirs.locale
