snippet bscdn "insert bootstrap css cdn" b
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
endsnippet

snippet bscdn "insert bootstrap js cdn" b
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
endsnippet
